%Image::ExifTool::UserDefined = (
    'Image::ExifTool::Composite' => {
        # Modify the existing Creator composite tag.
        Creator => {
            # 1. Add EXIF:Artist to the list of desired source tags.
            #    '%T' represents all of the tag's default sources.
            Desire => {
                0 => '%T',
                1 => 'EXIF:Artist',
            },
            # 2. Add the ValueConv to correctly return the first defined value.
            ValueConv => '$val[0] || $val[1]',
        },
    },
);